// circles overwriting and scaling for landing page
.landing-page_circle__circle-scale_1.loader_circle__circle_1 {
  transform: translate(-110%, -50%) scale(2);
  opacity: 0.35;
}
.landing-page_circle__circle-scale_2.loader_circle__circle_2 {
  transform: translate(10%, -50%) scale(2);
  opacity: 0.35;
}
.landing-page_circle__circle-scale_3.loader_circle__circle_3 {
  transform: translate(-50%, -135%) scale(2);
  opacity: 0.35;
}
// header text
.landing-page_header-text {
  font-family: "Montserrat", sans-serif;
  font-size: 70px;
  font-weight: 900;
  letter-spacing: 10px;
  text-transform: capitalize;
  white-space: nowrap;

  text-shadow: 4px 10px 20px rgba(0, 0, 0, 0.61);

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -70%);
  opacity: 0;
}
.landing-page_subheader-text {
  font-size: 16px;
  font-weight: 700;
  font-style: italic;
  letter-spacing: 3px;
  text-transform: capitalize;

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(120%, 140%);
  opacity: 0;
}

/* logo */

.logo {
  position: absolute;
  top: 5%;
  left: 3%;
  display: inline-block;
  width: 15px;
  height: 20px;
  opacity: 0;
}
