.loader_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  &__circle_1 {
    transform: translate(-110%, -50%);
  }
  &__circle_2 {
    transform: translate(10%, -50%);
  }
  &__circle_3 {
    transform: translate(-50%, -135%);
  }
}
