.loader_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  &__circle_1 {
    transform: translate(-110%, -50%);
  }
  &__circle_2 {
    transform: translate(10%, -50%);
  }
  &__circle_3 {
    transform: translate(-50%, -135%);
  }
}

.loader-page_circle-size {
  width: 150px;
  height: 150px;
  @media (min-width: $screen-min-bigdesktop) {
    width: 200px;
    height: 200px;
  }
  @media (max-width: $screen-max-tablet) {
    width: 120px;
    height: 120px;
  }
  @media (max-width: $screen-max-phone) {
    width: 70px;
    height: 70px;
  }
}
