.skills-page-text {
  &_wrapper {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: space-around;
    @media (max-width: $screen-max-tablet) {
      display: block;
    }
    @media (max-width: $screen-max-phone) {
      display: block;
    }
  }
}

.skills-page_list {
  list-style-type: none;
  text-align: center;
  &-header {
    transform: translate(0%, -80%);
    opacity: 0;
    font-size: 20px;
    font-weight: 700;
    color: $green-text-color;
    margin-bottom: 20px;
    @media (min-width: $screen-min-bigdesktop) {
      font-size: 28px;
      margin-bottom: 50px;
    }
    @media (max-width: $screen-max-tablet) {
      transform: translate(0, 0);
      font-size: 20px;
      margin-bottom: 30px;
    }
    @media (max-width: $screen-max-phone) {
      transform: translate(0, 0);
      font-size: 14px;
      margin-bottom: 10px;
    }
  }
  &-li {
    transform: translate(0%, 20%);
    opacity: 0;
    font-size: 18px;
    margin: 5px 0;
    font-weight: 700;
    white-space: nowrap;
    @media (min-width: $screen-min-bigdesktop) {
      font-size: 24px;
    }
    @media (max-width: $screen-max-tablet) {
      transform: translate(0, 0);
      font-size: 16px;
    }
    @media (max-width: $screen-max-phone) {
      transform: translate(0, 0);
      font-size: 12px;
    }
  }
}
